@page "/"
@inject HttpClient Http

<PageTitle>Home | Andrew Robilliard</PageTitle>

<h1>Hey, I'm Andrew 👋</h1>

<p>I'm Andrew Robilliard, a software developer working primarily within the Microsoft ecosystem.</p>

<p>These days, my time is filled with <mark>Microsoft Dataverse</mark> and the <mark>Microsoft Power Platform</mark>. I
  frequently write code
  using
  <mark>C#</mark>, <mark>JavaScript/TypeScript</mark>, and <mark>SQL</mark>.
</p>

@if (_posts == null)
{
  <p>Loading posts...</p>
}
else
{
  <div class="post-list mt-5">
    @foreach (var post in _posts)
    {
      <div class="post-card">
        <h3>@post.TitleIcon<a href="/post/@post.Slug">@post.Title</a></h3>
        <span class="date">@post.Date.ToLongDateString()</span><span class="post-type">// @post.PostType</span>
        <p>@post.Description</p>
      </div>
    }
  </div>
}

<p>Sometimes, I tweet about my thoughts, my side-projects, or anything else that's on my mind. <a
href="https://bsky.app/profile/andrewrobilliard.bsky.social" target="_blank">Maybe you should follow me on
Bluesky?</a></p>

@code {
  private List<PostSummary>? _posts;

  protected override async Task OnInitializedAsync()
  {
    // One single fetch to get the entire directory of posts
    _posts = await Http.GetFromJsonAsync<List<PostSummary>>("posts.json");
  }
}